.3_32 { 
	overflow:hidden;
}.e3_32 { 
	background-color:rgba(255, 243.31249594688416, 243.31249594688416, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e3_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.7200000286102295);
	width:264px;
	height:89px;
	position:absolute;
	left:39px;
	top:33px;
}.3_33 { 
	border:1px solid rgba(251.81250303983688, 206.69609516859055, 236.47290855646133, 1);
}.e3_34 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:22px;
	position:absolute;
	left:118px;
	top:59px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_35 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:22px;
	position:absolute;
	left:133px;
	top:81px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_36 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.7200000286102295);
	width:249px;
	height:824px;
	position:absolute;
	left:47px;
	top:145px;
}.3_36 { 
	border:1px solid rgba(251.81250303983688, 206.69609516859055, 236.47290855646133, 1);
}.e3_37 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:22px;
	position:absolute;
	left:140px;
	top:628px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_38 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:138px;
	top:811px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_39 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:138px;
	top:445px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_40 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:22px;
	position:absolute;
	left:139px;
	top:283px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_41 { 
	width:72px;
	height:55px;
	position:absolute;
	left:135px;
	top:175px;
	background-image:url(images/pink_tumblr_4_icon_pink_tumblr_logo_text_number_symbol_alphabet_transparent_png_2763794_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_42 { 
	width:77px;
	height:41px;
	position:absolute;
	left:830px;
	top:948px;
	background-image:url(images/png_clipart_logo_brand_pink_m_font_heart_text_logo_thumbnail_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_43 { 
	width:77px;
	height:41px;
	position:absolute;
	left:830px;
	top:13px;
	background-image:url(images/png_clipart_logo_brand_pink_m_font_heart_text_logo_thumbnail_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_49 { 
	color:rgba(0, 0, 0, 1);
	width:507px;
	height:22px;
	position:absolute;
	left:615px;
	top:122px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e3_50 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:249px;
	height:295px;
	position:absolute;
	left:405px;
	top:175px;
	background-image:url(images/tumblr_cd8e782f21dd73ff0e2f8583d462e30a_fe936ade_640_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_51 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:226.76870727539062px;
	height:295px;
	position:absolute;
	left:717px;
	top:176px;
	background-image:url(images/eddda6c8791ee8a3cd65515f8c81ac3e_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:188px;
	height:295px;
	position:absolute;
	left:1053px;
	top:176px;
	background-image:url(images/lindo_desenho_tumblr_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_53 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:249px;
	height:334px;
	position:absolute;
	left:405px;
	top:512px;
	background-image:url(images/8493ca28d2d5c1fa8eae9a25baad4554_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_54 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:232px;
	height:334px;
	position:absolute;
	left:717px;
	top:512px;
	background-image:url(images/37f858b71d72bfd50be52fa111cf0e90_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_55 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:205px;
	height:334px;
	position:absolute;
	left:1036px;
	top:512px;
	background-image:url(images/d41cf362eea9ed341e4b4e4847fb710f_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}