.e3_14 { 
	overflow:hidden;
}
.e3_14 { 
	background-color:rgba(255, 243.31249594688416, 243.31249594688416, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e3_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.7200000286102295);
	width:264px;
	height:89px;
	position:absolute;
	left:39px;
	top:33px;
}
.e3_15 { 
	border:1px solid rgba(251.81250303983688, 206.69609516859055, 236.47290855646133, 1);
}
.e3_16 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:22px;
	position:absolute;
	left:118px;
	top:59px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_17 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:22px;
	position:absolute;
	left:133px;
	top:81px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.7200000286102295);
	width:249px;
	height:824px;
	position:absolute;
	left:47px;
	top:145px;
}
.e3_18 { 
	border:1px solid rgba(251.81250303983688, 206.69609516859055, 236.47290855646133, 1);
}
.e3_19 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:22px;
	position:absolute;
	left:140px;
	top:628px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_20 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:138px;
	top:811px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_21 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:138px;
	top:445px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_22 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:22px;
	position:absolute;
	left:139px;
	top:283px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_23 { 
	width:72px;
	height:55px;
	position:absolute;
	left:130px;px;
	top:175px;
	background-image:url(images/pink_tumblr_4_icon_pink_tumblr_logo_text_number_symbol_alphabet_transparent_png_2763794_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_24 { 
	color:rgba(0, 0, 0, 1);
	width:801px;
	height:22px;
	position:absolute;
	left:468px;
	top:445px;
	font-family:Julius Sans One;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_25 { 
	width:69px;
	height:59px;
	position:absolute;
	left:431px;
	top:373px;
	background-image:url(images/613_6133715_speechbubble_heart_cute_pixel_text_bubble_png_transparent_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_47 { 
	width:77px;
	height:50px;
	position:absolute;
	left:682px;
	top:18px;
	background-image:url(images/png_clipart_logo_brand_pink_m_font_heart_text_logo_thumbnail_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_48 { 
	width:77px;
	height:50px;
	position:absolute;
	left:682px;
	top:928px;
	background-image:url(images/png_clipart_logo_brand_pink_m_font_heart_text_logo_thumbnail_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
